body {
  background-color: #182B49;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 950px 590px;
  background-position: center top;
}

input[type=text], input[type=password] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #005e94;
  color: #ffcf00;
  padding: 14px 20px;
  margin:  0 auto;
  border: none;
  cursor: pointer;
  width: 30%;
  display: block;
}

.textBox, .profileOption{
  width: 30%;
  display: block;
  margin: 0 auto;
}

button:hover {
  opacity: 0.8;
}

h1 {
    color: white;
    text-align: center;
}
.login {
  border-color: white;
  border-width: 1px;
  padding: 16px;
  height: auto;
  width: 30%;
  margin: 0 auto;
  color: white;
}

.login .links a {
  float: left;
  color: white;
}

.login .links #createaccount {
  float: left;
}

.login .links #forgotpassword {
  float: right;
  color: white;
}

/*Change text color on create account page*/
p {
  color: white;
}

/*RAULS EDITS START HERE*/

div.profileOption {
  margin: 20px;
}
div#homebuttons {
  margin-top: 300px;
}
h1{
  margin-top: 110px;
}
h3{
  color: white;
}
text{
  color: white;
}

/*CSS for home.html buttons*/
.homeOptions{
  display: inline-block;
  margin: 50px;
  width: 30%;
  height: 200px;
  font-size: 30px;
}

.container{
  width: 100%;
  text-align: center;
  margin: auto;
}

#bpmButton{
  width: auto;
  display: inline;
}
#tempokeyButton, #songButton{
  background-image: url(../images/vinyl.png);
  background-size: cover
}


.dropbtn {
  background-color: #ddd;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: 1px;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

h2 {
  color: white;
}